
	
<form id='content-prueba'>
	<span id= 'title'>Spionage</span>
	<div id='coordinates'>
		Coordinates: 
			<input type='string' class='input' name='galaxy' [(ngModel)]='galaxy' >&nbsp;:&nbsp;
			<input type='string' class='input' name='solarSystem' [(ngModel)]='solarSystem'>&nbsp;:&nbsp;
			<input type='string' class='input' name='position' [(ngModel)]='position'> <br>
		Range: 
		<input type='string' class='input' name='range' [(ngModel)]='range' > <br>
		
		<input type='submit' value='start'>
	</div>

</form>
